.features {
  position: relative;
  padding: 100px 0;
  background-image: url('../images/4-26.jpg');
  background-color: #222;
  background-size: cover;
  background-position: center;
  @media only screen and (max-width: $break-sm) {
    padding: 30px 0;
  }
  .row {
    margin-top: 100px;
    @media only screen and (max-width: $break-sm) {
      margin-top: 40px;
    }
  }
  h2 {
    color: $white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  h3 {
    color: rgba(255,255,255,0.7);
    text-align: center;
    @media only screen and (max-width: $break-sm) {
      font-size: 18px;
      line-height: 28px;
    }
  }
  article {
    @media only screen and (max-width: $break-sm) {
      margin-bottom: 40px;
    }
    h5.icon {
      color: $white;
      font-size: 26px;
      text-align: center;
      span {
        background: #222;
        padding: 12px 17px;
        border: 2px solid $white;
        border-radius: 50%;
      }
    }
    h4 {
      color: $white;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    p {
      color: $white;
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }
  }
}
