.navbar {
  position: fixed;
  background: $nav-color;
  top: 0;
  width: 100%;
  z-index: 998;
  .icon-bar {
    background-color: white;
  }
  .brand {
    font-size: 28px;
    line-height: 82px;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    @media only screen and (max-width: $break-sm) {
      margin-left: 15px;
    }
    a {
      color: $white;
    }
  }
  .the-logo {
    position: absolute;
    top: 40px;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      padding: 15px 0;
      @media only screen and (max-width: $break-sm) {
        text-align: center;
        display: block;
      }
      &:last-child {
        padding-left: 0;
      }
      a {
        color: $white;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        &.active {

        }
      }
      
      a:hover {
        color: black
      }
      a:focus {
        color:black
      }
    }
  }
  .navbar-toggle {
    padding: 25px 10px;
  }
}
